.card {
  display: inline-block;
  margin: 10px;
  width: 15%;
  text-align: center;
  color: white;
  border: solid black 2px;
}

.red {
  background: red;
}


.blue {
  background: blue;
}

.false {
  background: white;
  border: solid black 2px;
  color: white;
}

#player-container{
  text-align: center;
}

player {
  display: inline-block;
  width: 45%;
  margin-left: 40px;
}

#board {
  padding: 50px;
  text-align: center;
}
