body {
  background-color: lightgrey;

}
#container{
  width: 85%;
  margin: auto;
  padding: 0 20px;
  background-color: white;

}

.inputText{
  font-size: 1.5em;
}
input
{
    font-size:.5em;
    height: auto;
}
input[type="button"]{
  font-size: 1.5em;
  margin: 5px 5px;
}
input[type="text"]{
  font-size:1.5em;
}

.title{
  text-align: center;
    border-bottom: solid darkgrey 1px;}

.sectionContainer{
  border-bottom: solid lightgrey 1px;
    padding-bottom: 8px;

}
.key, .scale {
  display: inline;
}

.sectionContainer{
  font-size: 2em;
}

.sectionTitle{
  margin-bottom: 2px;
  display: inline;
}

.sectionInfoContainer{
}
.sectionInfoContainer p{
  margin: 0px;
  padding: 0px;
  padding-left: 50px;;
}
.sectionNoteInput{
  margin: 3px;
}
