@media screen and (max-width: 570px) {
    header { margin-bottom:120px; }
    #submit {
			display: block;
			width: 100%;
			margin-left: -5px;
			margin-bottom: 10px;
    }
		#newTask{
			width: 100%;
			margin-left: -5px;
		}
}
